!!! 5
html
  head
    title The Paraphraser
    script(src='http://code.jquery.com/jquery-1.8.2.min.js', type='text/javascript')
    script(src='underscore.js', type='text/javascript')
    script(src='backbone.js', type='text/javascript')
    script(src='paraphraser.js', type='text/javascript')
    link(rel='stylesheet', href='style.css')
  body
    #content
      form#input
        textarea#text
        input#submit(type='submit')
      #output
  script#simple-word(type='text/template')
    span.name.simple.
      <%= name %>
  script#synonym-word(type='text/template')
    span.name.synonym.
      <%= name %>
    ul.synonyms.
      <% _.each(synonyms, function(s) { %><li><%= s %></li><% }); %>
